<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- 设置根日志级别为INFO -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
    
    <!-- 特别设置com.alibaba的日志级别为WARN -->
    <logger name="com.alibaba" level="WARN" />
</configuration>